# This is Git's per-user configuration file.
[user]
	name = Casey Webster
	email = casey.webster@gmail.com
	signingkey = A58BCB66EEBB9327

[url "git@github.com:glg-core/"]
	insteadof = glg-core://
[url "git@github.com:glg/"]
	insteadof = glg://
[url "git@github.com:cwebster2/"]
  insteadof = cwebster2://
[commit]
	gpgsign = true
