@import "mocha.css";

* {
  font-family: Hack Nerd Font;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  /* background: black; */
  background: transparent;
}

window#waybar.modules-right {
  background: black;
}

#workspaces {
  /* border-radius: 0.5rem; */
  /* background-color: @surface0; */
  padding: 0;
  margin: 0;
  /* margin-top: 1rem; */
  /* margin: 1px; */
}

#workspaces button {
  color: @pink;
  padding: 0 10px;
  margin: 0 -2px;
  background-color: transparent;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  color: @lavender;
}

#workspaces button:hover {
  color: @rosewater;
}

#workspaces button.focused {
  border-bottom: 3px solid @blue;
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid @text;
}

#tray,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#cpu,
#memory,
#temperature,
#custom-spotify,
#disk,
#custom-power {
  /* background-color: @surface0; */
  /* margin: 7px 3px 0px 7px; */
  /* padding: 10px 5px 10px 5px; */
  padding: 0 10px;
  margin: 0 2.5px;
  /* border-radius: 0.5rem; */
}

#backlight,
#network {
  padding: 0 5px;
  margin: 0 2.5px;
}

#clock {
  color: @lavender;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
  color: @flamingo;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
  color: @red;
}

#custom-power {
  /* border-radius: 1rem; */
  color: @red;
  /* margin-bottom: 1rem; */
}

#cpu {
  color: @green;
}

#memory {
  color: @green;
}

#disk {
  color: @green;
}

#temperature {
  color: @green;
}

#temperature.critical {
  color: @red;
}

#custom-spotify {
  color: @sapphire;
}

#tray {
  /* border-radius: 1rem; */
}

tooltip {
  background: @base;
  border: 1px solid @pink;
}

tooltip label {
  color: @text;
}
