@import "mocha.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Monaspace Argon';
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}


#clock,
#battery,
#pulseaudio,
#custom-lock,
#cpu,
#memory,
#temperature,
#custom-spotify,
#disk,
#custom-power {
  /* background-color: @surface0; */
  /* margin: 7px 3px 0px 7px; */
  /* padding: 10px 5px 10px 5px; */
  padding: 0 10px;
  margin: 0 2.5px;
  /* border-radius: 0.5rem; */
}

#backlight,
#network {
  padding: 0 5px;
  margin: 0 2.5px;
}

#clock {
  color: @lavender;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
  color: @flamingo;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
  color: @red;
}

#custom-power {
  /* border-radius: 1rem; */
  color: @red;
  /* margin-bottom: 1rem; */
}

#cpu {
  color: @green;
}

#memory {
  color: @green;
}

#disk {
  color: @green;
}

#temperature {
  color: @green;
}

#temperature.critical {
  color: @red;
}

#custom-spotify {
  color: @sapphire;
}

#tray {
  padding: 0 2px;
  /* margin: 0 2.5px; */
  /* border-radius: 1rem; */
  /* border: 1px solid red; */
}

tooltip {
  background: @base;
  border: 1px solid @pink;
}

tooltip label {
  color: @text;
}
